## Assignment 2 - Scraping Twitter

### Exporting Libraries

In [1]:
import pandas as pd
import tweepy #Library required for Twitter API
import csv
import os
!pip install wget
import wget
from pprint import pprint

import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
import xlrd

Requirement already satisfied: wget in c:\users\user\anaconda3\lib\site-packages (3.2)

distributed 1.21.8 requires msgpack, which is not installed.
elastic-transport 8.4.0 has requirement urllib3<2,>=1.26.2, but you'll have urllib3 1.22 which is incompatible.
aiohttp-socks 0.7.1 has requirement attrs>=19.2.0, but you'll have attrs 18.1.0 which is incompatible.
You are using pip version 10.0.1, however version 21.3.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

### Authenticating with Twitter API

In [2]:
consumer_key = "vhynOe9cHRjkjyVCxszmN6AVt"
consumer_secret = "eWtgrWnuuKNba5geobZYkerQ8sQO15Fd18n4iue7zEGDIMBxqX"
access_key = "1579936718937006082-sGMmyHPZZJSXIhmUYTfS5SBJgmlT15"
access_secret = "DV6k3UyDB2ApWJOFM2Gy1F5eFnvtSZu7yKj9Ucy2CdoMH"

In [3]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

### Verifying credentials

In [4]:
try:
    api.verify_credentials()
    print("Authentication OK")
except:
    print("Error during authentication")

Authentication OK

### Web scarping tweets

In [5]:
def scraping_tweets(tweets, n):
    scrapped_data = tweepy.Cursor(api.search_tweets, q = tweets, result_type = "mixed").items(n)
    merchant_name = tweets.split('#')[0]
    count=0
    data = []
    all_hashtags=[]
    source_user = []
    for tweet in scrapped_data: 
#         print(count)
#         print(tweet)
        for urls in tweet.entities['urls']:
            tweet_url = urls['expanded_url']            

        # will save all the hashtags related to the tweets
        for hashtag in tweet.entities['hashtags']:
            all_hashtags.append([tweet.id_str, hashtag['text']])
            
#         extracting name from tweet_mention as source_user
 
        if tweet.entities['user_mentions']:
            for data_dict in tweet.entities['user_mentions']:
                source_user.append([tweet.id_str, data_dict['name']])                
        else:
            name = "None"
            source_user.append([tweet.id_str, name])
                                
        data.append([tweet.user.id, tweet.user.name, tweet.user.followers_count, tweet.user.friends_count, 
                     tweet.user.created_at, tweet.user.description, 
                     tweet.id_str, tweet.created_at, tweet.text,  
                     tweet.retweet_count, tweet.favorite_count, tweet.user.profile_image_url, tweet_url, tweets])
        count=count + 1
    
    df = pd.DataFrame(data, columns=["user_id", "user_name", "follower_count", "friend_count", 
                                     "user_created_at", "description", 
                                     "tweet_id", "created_at", "tweet_text", 
                                     "retweet_count", "favorite_count", "user_profile_img", "tweet_url", "tweet"])
     
    df['tweet_date'] = pd.to_datetime(df['created_at']).dt.date
    
    # dataframe for all users who tweeted
    df_user = df[["user_id", "user_name", "follower_count", "friend_count", "description", "user_profile_img", "user_created_at"]].copy()
   
    # dataframe for all the tweets
    df_tweets = df[["tweet_id", "tweet_text", "created_at", "favorite_count", "retweet_count", "tweet", "user_id", "tweet_date"]].copy()
    # creating csv file for each merchant
    df_tweets.to_csv(f'{merchant_name}_tweets.csv', index=False, header=True)
    
    # dataframe for storing all the hashtags of that tweets
    df_tweet_hashtag = pd.DataFrame(all_hashtags, columns=["tweet_id", "tags"])
    df_tweet_hashtag.to_csv(f'{merchant_name}_tweet_tags.csv', index=False, header=True)
    
    # dataframe for storing all user_mentions in that tweet
    df_tweet_mentions = pd.DataFrame(source_user, columns = ["tweet_id", "source_user"])
    df_tweet_mentions.to_csv(f'{merchant_name}_tweet_mentions.csv', index=False, header=True)
    
    #dataframe for storing tweet_url
    df_tweet_url = df[["tweet_id", "tweet_url"]].copy()
    df_tweet_url.to_csv(f'{merchant_name}_tweet_url.csv', index=False, header=True)
    
    return df_user, df_tweet_hashtag, df_tweet_mentions, df_tweet_url

### Scraping tweets for each merchant

In [6]:
tweet_target = "Target" "#Deals" 
n=50
tweet_target_user, tweet_target_hashtag, tweet_target_mentions, tweet_target_url = scraping_tweets(tweet_target, n)
tweet_target_user.head()

,user_id,user_name,follower_count,friend_count,description,user_profile_img,user_created_at
0,1303375647318835202,Deal Vibes,27984,28,"Follow for New Releases in Tech, Gaming & Beyo...",http://pbs.twimg.com/profile_images/1525140798...,2020-09-08 16:52:33+00:00
1,1412406795788636161,DealVibes Gaming & Tech Retweeter,605,1,@DealVibes Gaming & Tech Retweeter,http://pbs.twimg.com/profile_images/1525134481...,2021-07-06 13:43:25+00:00
2,1453873699321364481,DealVibes Deals Retweeter,11,1,@DealVibes Deals Retweeter,http://pbs.twimg.com/profile_images/1525137187...,2021-10-28 23:58:20+00:00
3,1303375647318835202,Deal Vibes,27984,28,"Follow for New Releases in Tech, Gaming & Beyo...",http://pbs.twimg.com/profile_images/1525140798...,2020-09-08 16:52:33+00:00
4,2158058671,Heavyweight Domains!,1076,1192,"If you see a name you like, get in touch and l...",http://pbs.twimg.com/profile_images/1365913219...,2013-10-27 04:20:35+00:00

In [7]:
print(tweet_target_hashtag.count())
tweet_target_hashtag.head()

tweet_id    169
tags        169
dtype: int64

              tweet_id       tags
0  1591454017695223809  ecommerce
1  1591454017695223809   business
2  1591454017695223809   shopping
3  1591454017695223809     stores
4  1591454017695223809   shoppers

In [8]:
print(tweet_target_mentions.count())
tweet_target_mentions.head()

tweet_id       50
source_user    50
dtype: int64

              tweet_id source_user
0  1591594263732944896  Deal Vibes
1  1591464977478881280  Deal Vibes
2  1591461629396680705  Deal Vibes
3  1591461496433049601        None
4  1591454017695223809        None

In [9]:
print(tweet_target_url.count())
tweet_target_url.head()

tweet_id     50
tweet_url    50
dtype: int64

              tweet_id                                          tweet_url
0  1591594263732944896                            https://amzn.to/3DXhIwW
1  1591464977478881280                            https://amzn.to/3DXhIwW
2  1591461629396680705                            https://amzn.to/3DXhIwW
3  1591461496433049601  https://twitter.com/i/web/status/1591461496433...
4  1591454017695223809  https://twitter.com/i/web/status/1591454017695...

In [10]:
tweet_walmart =  "Walmart" "#DealsForDays"
n=50
tweet_walmart_user, tweet_walmart_hashtag, tweet_walmart_mentions, tweet_walmart_url = scraping_tweets(tweet_walmart, n)

In [11]:
tweet_samsclub = "SamsClub" "#deals"
n=50
tweet_samsclub_user, tweet_samsclub_hashtag, tweet_samsclub_mentions, tweet_samsclub_url = scraping_tweets(tweet_samsclub, n)

In [12]:
# store all the list of users
all_users = pd.concat([tweet_target_user, tweet_walmart_user, tweet_samsclub_user], ignore_index = True, axis = 0)
all_users = all_users.drop_duplicates(subset='user_id')
all_users.to_csv('twitter_users.csv', index=False, header=True)

### Connecting with MySQL Workbench

In [13]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost".format(user ='root', pw ='system'))

In [14]:
# creating database
db = 'TwitterDeals'
try:
    with engine.connect() as conn:
        conn.execute(f'CREATE DATABASE {db}')
    print("Database created")
except Exception as e:
    print(f"Error while creating database- {e}")

Database created

In [15]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}".format(user = 'root', pw = 'system', db = 'TwitterDeals'))

In [16]:
# creating user table
all_users_csv = pd.read_csv('twitter_users.csv')
all_users_csv.to_sql('twitter_users',con=engine, index=False, if_exists='replace')
with engine.connect() as conn:
    conn.execute("ALTER TABLE twitter_users ADD PRIMARY KEY(user_id);")

In [17]:
# create table for walmart
walmart_tweets = pd.read_csv('Walmart_tweets.csv')
walmart_tweets.to_sql('walmart_tweets',con=engine, index=False, if_exists='replace')

In [18]:
# primary key and foreign key for walmart table
with engine.connect() as conn:
    conn.execute("ALTER TABLE twitterdeals.walmart_tweets ADD PRIMARY KEY(tweet_id); ")
    conn.execute("ALTER TABLE twitterdeals.walmart_tweets ADD CONSTRAINT user_id_fk FOREIGN KEY (user_id) REFERENCES twitterdeals.twitter_users(user_id) ON DELETE NO ACTION ON UPDATE NO ACTION;")

In [19]:
walmart_tweet_tag = pd.read_csv('Walmart_tweet_tags.csv')
walmart_tweet_tag.to_sql('walmart_tweet_tag',con=engine, index=False, if_exists='replace')
with engine.connect() as conn:
    conn.execute("ALTER TABLE twitterdeals.walmart_tweet_tag ADD CONSTRAINT tweet_id_fk FOREIGN KEY (tweet_id) REFERENCES twitterdeals.walmart_tweets (tweet_id) ON DELETE NO ACTION ON UPDATE NO ACTION;")

In [20]:
walmart_tweet_mentions = pd.read_csv('Walmart_tweet_mentions.csv')
walmart_tweet_mentions.to_sql('walmart_tweet_mentions',con=engine, index=False, if_exists='replace')
with engine.connect() as conn:
    conn.execute("ALTER TABLE twitterdeals.walmart_tweet_mentions ADD CONSTRAINT tweet_id_fk2 FOREIGN KEY (tweet_id) REFERENCES twitterdeals.walmart_tweets (tweet_id) ON DELETE NO ACTION ON UPDATE NO ACTION;")

In [21]:
walmart_tweet_url = pd.read_csv('Walmart_tweet_url.csv')
walmart_tweet_url.to_sql('walmart_tweet_url',con=engine, index=False, if_exists='replace')
with engine.connect() as conn:
    conn.execute("ALTER TABLE twitterdeals.walmart_tweet_url ADD CONSTRAINT tweet_id_fk3 FOREIGN KEY (tweet_id) REFERENCES twitterdeals.walmart_tweets (tweet_id) ON DELETE NO ACTION ON UPDATE NO ACTION;")

In [22]:
# create table for target
target_tweets = pd.read_csv('Target_tweets.csv')
target_tweets.to_sql('target_tweets',con=engine, index=False, if_exists='replace')
with engine.connect() as conn:
    conn.execute("ALTER TABLE target_tweets ADD PRIMARY KEY(tweet_id);")
    conn.execute("ALTER TABLE target_tweets ADD CONSTRAINT user_id_fk2 FOREIGN KEY (user_id) REFERENCES twitter_users(user_id) ON DELETE NO ACTION ON UPDATE NO ACTION;")

In [23]:
target_tweet_tag = pd.read_csv('Target_tweet_tags.csv')
target_tweet_tag.to_sql('target_tweet_tag',con=engine, index=False, if_exists='replace')
with engine.connect() as conn:
    conn.execute("ALTER TABLE target_tweet_tag ADD CONSTRAINT tweet_id_fk4 FOREIGN KEY (tweet_id) REFERENCES target_tweets (tweet_id) ON DELETE NO ACTION ON UPDATE NO ACTION;")

In [24]:
target_tweet_mentions = pd.read_csv('Target_tweet_mentions.csv')
target_tweet_mentions.to_sql('target_tweet_mentions',con=engine, index=False, if_exists='replace')
with engine.connect() as conn:
    conn.execute("ALTER TABLE target_tweet_mentions ADD CONSTRAINT tweet_id_fk5 FOREIGN KEY (tweet_id) REFERENCES target_tweets (tweet_id) ON DELETE NO ACTION ON UPDATE NO ACTION;")

In [25]:
target_tweet_url = pd.read_csv('Target_tweet_url.csv')
target_tweet_url.to_sql('target_tweet_url',con=engine, index=False, if_exists='replace')
with engine.connect() as conn:
    conn.execute("ALTER TABLE target_tweet_url ADD CONSTRAINT tweet_id_fk6 FOREIGN KEY (tweet_id) REFERENCES target_tweets (tweet_id) ON DELETE NO ACTION ON UPDATE NO ACTION;")

In [26]:
# create table for samsclub
samsclub_tweets = pd.read_csv('SamsClub_tweets.csv')
samsclub_tweets.to_sql('samsclub_tweets',con=engine, index=False, if_exists='replace')
with engine.connect() as conn:
    conn.execute("ALTER TABLE samsclub_tweets ADD PRIMARY KEY(tweet_id);")
    conn.execute("ALTER TABLE samsclub_tweets ADD CONSTRAINT user_id_fk3 FOREIGN KEY (user_id) REFERENCES twitter_users(user_id) ON DELETE NO ACTION ON UPDATE NO ACTION;")

In [27]:
samsclub_tweet_tag = pd.read_csv('SamsClub_tweet_tags.csv')
samsclub_tweet_tag.to_sql('samsclub_tweet_tag',con=engine, index=False, if_exists='replace')
with engine.connect() as conn:
    conn.execute("ALTER TABLE samsclub_tweet_tag ADD CONSTRAINT tweet_id_fk7 FOREIGN KEY (tweet_id) REFERENCES samsclub_tweets (tweet_id) ON DELETE NO ACTION ON UPDATE NO ACTION;")

In [28]:
samsclub_tweet_mentions = pd.read_csv('SamsClub_tweet_mentions.csv')
samsclub_tweet_mentions.to_sql('samsclub_tweet_mentions',con=engine, index=False, if_exists='replace')
with engine.connect() as conn:
    conn.execute("ALTER TABLE samsclub_tweet_mentions ADD CONSTRAINT tweet_id_fk8 FOREIGN KEY (tweet_id) REFERENCES samsclub_tweets (tweet_id) ON DELETE NO ACTION ON UPDATE NO ACTION;")

In [29]:
samsclub_tweet_url = pd.read_csv('SamsClub_tweet_url.csv')
samsclub_tweet_url.to_sql('samsclub_tweet_url',con=engine, index=False, if_exists='replace')
with engine.connect() as conn:
    conn.execute("ALTER TABLE samsclub_tweet_url ADD CONSTRAINT tweet_id_fk9 FOREIGN KEY (tweet_id) REFERENCES samsclub_tweets (tweet_id) ON DELETE NO ACTION ON UPDATE NO ACTION;")